<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpnewt.USBMap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>MacBookPro11,5 Card Reader</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>idProduct</key>
				<integer>33798</integer>
				<key>idProductOverride</key>
				<integer>33798</integer>
				<key>idVendor</key>
				<integer>1452</integer>
				<key>idVendorOverride</key>
				<integer>1452</integer>
				<key>kSuspendPort</key>
				<true/>
				<key>kUSBDescriptorOverride</key>
				<dict>
					<key>descriptor</key>
					<data>
					OANJAG4AdABlAHIAbgBhAGwAIABNAGUAbQBv
					AHIAeQAgAEMAYQByAGQAIABSAGUAYQBkAGUA
					cgA=
					</data>
					<key>index</key>
					<string>UsbDescriptorOverrideProductStringIndex</string>
					<key>languageID</key>
					<integer>1033</integer>
				</dict>
			</dict>
			<key>idProductArray</key>
			<array>
				<integer>297</integer>
				<integer>10497</integer>
			</array>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>MacBookPro11,5-EH01</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:26:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				AQAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro11,5</string>
		</dict>
		<key>MacBookPro11,5-EH02</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:29:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBEHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<false/>
				<key>port-count</key>
				<data>
				AQAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT1</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>PRT2</key>
					<dict>
						<key>#port</key>
						<data>
						AgAAAA==
						</data>
						<key>UsbConnector</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro11,5</string>
		</dict>
		<key>MacBookPro11,5-InternalHub-EH01</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>AppleUSB20InternalHub</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>AAPL,standard-port-current-in-sleep</key>
				<integer>500</integer>
				<key>port-count</key>
				<data>
				AQAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT5</key>
					<dict>
						<key>Comment</key>
						<string>Bluetooth</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
						<key>portType</key>
						<integer>2</integer>
					</dict>
				</dict>
			</dict>
			<key>locationID</key>
			<integer>487587840</integer>
			<key>model</key>
			<string>MacBookPro11,5</string>
		</dict>
		<key>MacBookPro11,5-InternalHub-EH02</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>AppleUSB20InternalHub</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>
				AgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>PRT3</key>
					<dict>
						<key>Comment</key>
						<string>CardReader</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>kUSBDeviceDescriptorOverride</key>
						<data>
						EgEQAwAAAAmsBQaEAnoDBAIB
						</data>
						<key>kUSBHostPortPropertyCardReader</key>
						<true/>
						<key>kUSBHostPortPropertyCardReaderValidateDescriptors</key>
						<false/>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
						<key>portType</key>
						<integer>2</integer>
					</dict>
					<key>PRT5</key>
					<dict>
						<key>Comment</key>
						<string>Camera</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
						<key>portType</key>
						<integer>2</integer>
					</dict>
				</dict>
			</dict>
			<key>locationID</key>
			<integer>437256192</integer>
			<key>model</key>
			<string>MacBookPro11,5</string>
		</dict>
		<key>MacBookPro11,5-XHC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOParentMatch</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>pcidebug</key>
					<string>0:20:0</string>
				</dict>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>
				CAAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>Comment</key>
						<string>Left-Close HS</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>Comment</key>
						<string>Left-Far-Powershare HS</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>HS03</key>
					<dict>
						<key>Comment</key>
						<string>Right-Far HS</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS04</key>
					<dict>
						<key>Comment</key>
						<string>Right-Close HS</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>Left-Close SS</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>Comment</key>
						<string>Left-Far-Powershare SS</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
					<key>SS03</key>
					<dict>
						<key>Comment</key>
						<string>Right-Far SS</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>SS04</key>
					<dict>
						<key>Comment</key>
						<string>Right-Close SS</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacBookPro11,5</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
